<!DOCTYPE html>
<html ng-app="directoryApp"> <!-- Declare angular app -->
  <head>
    <meta charset="UTF-8">
    <title>AngularJS for everyone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="directory.js"></script>
  </head>
  <body ng-controller="directoryController as dirList"> <!-- init data when template is lodaded, normally use controller --> <!--  use the namespace in dirList -->
  <input type="text" ng-model="search">
  	<ul>
  		<li ng-repeat="item in dirList.list | filter:search 
      | orderBy:'age'
      | limitTo: 3 " 
          class=" person-{{item.name | lowercase}}"> <!-- could apply style, but want it like this to apply class consistently. order matters for filters! -->
  			{{item.name | uppercase}}
  			{{item.age | currency:"&yen;":0}} <!-- another example of a filter -->
  		</li>
  	</ul>
    <form ng-submit="dirList.addPerson()"> <!-- function run when submitting form -->
      <input type="text" placeholder="Name" ng-model="dirList.name">
      <input type="number" placeholder="Age" ng-model="dirList.age">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>