<!DOCTYPE html>
<html ng-app="directoryApp"> <!-- Declare angular app -->
  <head>
    <meta charset="UTF-8">
    <title>AngularJS for everyone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="directory.js"></script>
  </head>
  <body ng-controller="directoryController"> <!-- init data when template is lodaded, normally use controller -->
  <input type="text" ng-model="search">
  	<ul>
  		<li ng-repeat="item in list | filter:search">
  			{{item.name}}
  			{{item.age}}
  		</li>
  	</ul>
    <form ng-submit="addPerson()"> <!-- function run when submitting form -->
      <input type="text" placeholder="Name" ng-model="name">
      <input type="number" placeholder="Age" ng-model="age">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>